.#{$prefix}modal-wrapper {
  --#{$prefix}modal-background-color: var(--#{$prefix}color-background);
  --#{$prefix}modal-border-color: var(--#{$prefix}color-grey-lighter);
  --#{$prefix}modal-overlay-color: var(--#{$prefix}color-grey-opaque);
  --#{$prefix}modal-border-radius: 2px;
  --#{$prefix}modal-padding: 16px;
  --#{$prefix}modal-width: 600px;

  transition: background 0.3s cubic-bezier(0.8, 0.4, 0.2, 0.8);

  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  &[data-contained="true"] {
    position: absolute;
  }
  &[data-contained="false"] {
    position: fixed;
  }
  &[data-fullscreen="true"] {
    background: var(--#{$prefix}modal-background-color);
  }
  &[data-fullscreen="false"] {
    display: flex;
    align-items: center;
    justify-content: center;
    &[data-paused="false"] {
      background: var(--#{$prefix}modal-overlay-color);
      backdrop-filter: blur(1px);
      @each $color, $value in $palette-colors {
        &.#{$color} {
          background: var(--#{$prefix}color-#{$color}-opaque-soft);
        }
      }
    }
  }
  &[data-paused="true"][data-fullscreen="false"] {
    background: transparent;
  }
}

.#{$prefix}modal {
  position: relative;
  overflow-y: auto;
  padding: var(--#{$prefix}modal-padding);
  background: var(--#{$prefix}modal-background-color);
  &[data-fullscreen="true"] {
    max-height: 100%;
  }
  &[data-fullscreen="false"] {
    width: 100%;
    max-width: min(
      var(--#{$prefix}modal-width),
      100% - var(--#{$prefix}modal-padding)
    );
    @each $container, $size in $containers {
      &.#{$prefix}container-#{$container} {
        max-width: min($size, 100% - var(--#{$prefix}modal-padding));
      }
    }
    max-height: calc(100% - 32px);
    border-width: 0.5px;
    border-style: solid;
    border-radius: var(--#{$prefix}modal-border-radius);
    border-color: var(--#{$prefix}modal-border-color);
    box-shadow: var(--#{$prefix}shadow-s);
    @each $color, $value in $palette-colors {
      &.#{$color} {
        border-color: var(--#{$prefix}color-#{$color}-lighter-2);
      }
    }
  }
}

.#{$prefix}modal-close-button {
  --size: 24px;
  cursor: pointer;
  position: sticky;
  float: right;
  top: calc(-0.8 * var(--#{$prefix}modal-padding));
  margin: calc(-0.8 * var(--#{$prefix}modal-padding));
  width: var(--size);
  height: var(--size);
}

.#{$prefix}modal-transition-enter-active,
.#{$prefix}modal-transition-leave-active {
  transition: all 0.3s cubic-bezier(0.8, 0.4, 0.2, 0.8);
}
.#{$prefix}modal-transition-enter-from,
.#{$prefix}modal-transition-leave-to {
  opacity: 0;
}
