@mixin generate-css-variables($map, $keys: ()) {
  @each $key, $value in $map {
    @if type-of($value) == "map" {
      @include generate-css-variables($value, append($keys, $key));
    } @else {
      $list: if($key == "base", $keys, append($keys, $key));
      $variable: "";
      @each $k in $list {
        $variable: if($variable == "", #{$k}, #{$variable}-#{$k});
      }
      --#{$prefix}#{$variable}: #{$value};
    }
  }
}
