@mixin transition(
  $transition-property-value: '0.4s all #{map-get($bezier, "1")}'
) {
  &-enter-from,
  &-leave-to {
    @content;
  }
  &-enter-active,
  &-leave-active {
    transition: $transition-property-value;
  }
}

%#{$prefix}animate-underline {
  position: relative;
  &::after {
    background: currentColor;
    bottom: 0px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    transition: width 0.2s ease-in-out;
    width: 0;
  }
  &:focus::after {
    width: 100%;
  }
  @media (hover: hover) {
    &:hover::after {
      width: 100%;
    }
  }
  &.router-link-exact-active::after {
    width: 100%;
  }
}
