// colors with variants
$palette-colors: (
  "primary": #007bff,
  "accent": #f92f80,
  "success": #28a745,
  "info": #17a2b8,
  "warning": #fcb040,
  "error": #dc3545,
  "black": #000000,
  "dark": #212529,
  "grey": #888,
  "muted": #ddd,
  "light": #f8f9fa,
  "white": #ffffff,
);

// colors without variants
$base-colors: (
  "text": #212121,
  "background": #fff,
);

$palette-variants: (
  "lightest-2": (
    "lightness": 95%,
  ),
  "lightest": (
    "lightness": 90%,
  ),
  "lighter-2": (
    "lightness": 50%,
  ),
  "lighter": (
    "lightness": 40%,
  ),
  "light-2": (
    "lightness": 16%,
  ),
  "light": (
    "lightness": 8%,
  ),
  "dark": (
    "lightness": -8%,
  ),
  "dark-2": (
    "lightness": -20%,
  ),
  "darker": (
    "lightness": -40%,
  ),
  "darker-2": (
    "lightness": -50%,
  ),
  "darkest": (
    "lightness": -80%,
  ),
  "darkest-2": (
    "lightness": -90%,
  ),
  "soft": (
    "saturation": 50%,
    "lightness": 95%,
  ),
  "opaque": (
    "alpha": -70%,
  ),
  "opaque-soft": (
    "saturation": 50%,
    "lightness": 95%,
    "alpha": -50%,
  ),
);

$colors: generate-color-palette($palette-colors, $palette-variants);
