// colors with variants
$base-colors: (
  "primary": #0d6efd,
  "secondary": #ffc107,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "light": #f8f9fa,
  "grey": #888,
  "dark": #212529,
);

// colors without variants
$solid-colors: (
  "text": #212121,
  "background": #fff,
);

$base-color-variants: (
  "max-light": (
    "lightness": 95%,
  ),
  "lightest": (
    "lightness": 80%,
  ),
  "lighter": (
    "lightness": 50%,
  ),
  "light": (
    "lightness": 20%,
  ),
  "dark": (
    "lightness": -15%,
  ),
  "darker": (
    "lightness": -30%,
  ),
  "darkest": (
    "lightness": -45%,
  ),
  "max-dark": (
    "lightness": -75%,
  ),
  "opaque": (
    "alpha": -0.66%,
  ),
  "opaque-light": (
    "saturation": -20%,
    "brightness": 20%,
    "alpha": -0.66%,
  ),
);

$colors: generate-color-palette($base-colors, $base-color-variants);
