// TODO - Refactor vars to singular map structure

$prefix: "snt-";
$containers: (
  "s": 400px,
  "m": 600px,
  "l": 800px,
  "xl": 1200px,
  "expand": initial,
);
$widths: (
  "s": 400px,
  "m": 600px,
  "l": 800px,
  "xl": 1200px,
);
$z-index: (
  "toast": 9000,
  "modal": 8000,
);
$bezier: (
  "1": cubic-bezier(0.72, 0.16, 0.28, 0.93),
  "2": cubic-bezier(0.81, 0.17, 0.28, 1),
  "3": cubic-bezier(0.53, -0.05, 0.22, 0.9),
  "4": cubic-bezier(0.45, 0, 0.47, 1.4),
);
$box-shadows: (
  "s": (
    0 1px 3px #0002,
    0 1px 1px #0002,
    0 2px 1px -1px #0002,
  ),
  "m": (
    0 1px 5px #0002,
    0 2px 2px #0002,
    0 3px 1px -2px #0002,
  ),
  "l": (
    0 2px 4px -1px #0002,
    0 4px 5px #0002,
    0 1px 10px #0002,
  ),
  "xl": (
    0 3px 5px -1px #0002,
    0 6px 10px #0002,
    0 1px 18px #0002,
  ),
  "xxl": (
    0 6px 6px -3px #0002,
    0 10px 14px 1px #0002,
    0 4px 18px 3px #0002,
  ),
);
$border-radius: (
  "s": 4px,
  "m": 8px,
  "l": 16px,
  "xl": 24px,
  "round": 100%,
);
