.transition {
  transition: all 0.2s ease-in-out;
}

.animate-underline {
  @include animate-underline;
}
.animate-underline-active {
  @include animate-underline;
  &.router-link-active::after {
    --underline-width: 100%;
  }
}
.animate-underline-exact-active {
  @include animate-underline;
  &.router-link-exact-active::after {
    --underline-width: 100%;
  }
}

.transition-fade {
  @include transition(all 0.4s var(--#{$prefix}bezier-1)) {
    opacity: 0;
  }
}
.transition-slide {
  @include transition(all 0.4s var(--#{$prefix}bezier-1)) {
    transform: translateX(-4px);
    opacity: 0;
  }
}
.transition-drop {
  @include transition(all 0.4s var(--#{$prefix}bezier-1)) {
    transform: translateY(-10px);
    opacity: 0;
  }
}
.transition-float {
  @include transition(all 0.4s var(--#{$prefix}bezier-1)) {
    transform: translateY(10px);
    opacity: 0;
  }
}
