.#{$prefix}button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-size: 16px;
  font-weight: 400;
  min-height: var(--height);
  padding: var(--padding-y) var(--padding-x);
  // line-height: calc(var(--font-size) + var(--height) - var(--padding-y) / 2);

  cursor: pointer;
  border-radius: 2px;
  user-select: none;
  opacity: 1;
  transition: all 0.15s ease-in-out;
  background-color: transparent;

  &.small {
    --height: 34px;
    --padding-y: 4px;
    --padding-x: 8px;
  }
  &.medium {
    --height: 42px;
    --padding-y: 6px;
    --padding-x: 18px;
  }
  &.large {
    --height: 50px;
    --padding-y: 8px;
    --padding-x: 24px;
  }
  &.expand {
    width: 100%;
  }
  &.rounded {
    border-radius: 6px;
  }
  &.underline {
    @extend %#{$prefix}animate-underline;
  }
}

.#{$prefix}button[disabled] {
  opacity: 0.5 !important;
  cursor: default !important;
  pointer-events: none !important;
}

.#{$prefix}button {
  @each $color, $value in $base-colors {
    &.#{$color} {
      --base-color: var(--#{$prefix}color-#{$color});
      --accent-color: var(--#{$prefix}color-#{$color}-light);
      --focus-color: var(--#{$prefix}color-#{$color}-dark);
      --contrast-color: var(--#{$prefix}color-#{$color}-contrast);
    }
  }

  &:not(.text):not(.outline) {
    @each $color, $value in $base-colors {
      &.#{$color} {
        color: var(--contrast-color);
        background: var(--base-color);
        &:active {
          background: var(--accent-color);
        }
        @media (hover: hover) {
          &:focus,
          &:focus-visible {
            background: var(--focus-color);
          }
          &:focus:not(:focus-visible) {
            background: var(--base-color);
          }
          &:hover:nth-child(n) {
            background: var(--accent-color);
          }
          &:active:nth-child(n) {
            background: var(--base-color);
          }
        }
      }
    }
  }
  &.outline {
    box-sizing: border-box;
    border: 1.5px solid transparent;
    background-color: transparent;
    @each $color, $value in $base-colors {
      &.#{$color} {
        color: var(--base-color);
        border-color: var(--base-color);
        &:active {
          color: var(--accent-color);
          border-color: var(--accent-color);
        }
        @media (hover: hover) {
          &:focus,
          &:focus-visible {
            color: var(--focus-color);
            border-color: var(--focus-color);
          }
          &:focus:not(:focus-visible) {
            color: var(--base-color);
            border-color: var(--base-color);
          }
          &:hover:nth-child(n) {
            color: var(--accent-color);
            border-color: var(--accent-color);
          }
          &:active:nth-child(n) {
            color: var(--base-color);
            border-color: var(--base-color);
          }
        }
      }
    }
  }
  &.text {
    background-color: transparent;
    @each $color, $value in $base-colors {
      &.#{$color} {
        color: var(--base-color);
        &:active {
          color: var(--focus-color);
        }
        @media (hover: hover) {
          &:focus,
          &:focus-visible {
            color: var(--focus-color);
          }
          &:focus:not(:focus-visible) {
            color: var(--base-color);
          }
          &:hover:nth-child(n) {
            color: var(--focus-color);
          }
          &:active:nth-child(n) {
            color: var(--base-color);
          }
        }
      }
    }
  }
}
