.#{$prefix}button {
  align-items: center;
  border-radius: 1px;
  border: 1.5px solid transparent;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: center;
  min-height: var(--height);
  opacity: 1;
  outline-color: transparent !important;
  line-height: 1.2;
  padding: var(--padding-y) var(--padding-x);
  line-height: calc(var(--font-size) + var(--height) - var(--padding-y) / 2);
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color, box-shadow,
    opacity;
  transition-timing-function: ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: fit-content;

  &.small {
    --height: 34px;
    --padding-y: 4px;
    --padding-x: 12px;
  }
  &:not(.small):not(.large) {
    --height: 42px;
    --padding-y: 6px;
    --padding-x: 18px;
  }
  &.large {
    --height: 50px;
    --padding-y: 8px;
    --padding-x: 24px;
  }
  &.expand {
    width: 100%;
  }

  @each $color, $value in $base-colors {
    &.#{$color} {
      --base-color: var(--#{$prefix}color-#{$color});
      --accent-color: var(--#{$prefix}color-#{$color}-dark);
      --focus-color: var(--#{$prefix}color-#{$color}-darker);
      --contrast-color: var(--#{$prefix}color-#{$color}-contrast);
    }
  }

  &:not(.text):not(.outline) {
    box-shadow: 0 0 4px #0004;
    @each $color, $value in $base-colors {
      &.#{$color} {
        color: var(--contrast-color);
        background: var(--base-color);
        border-color: var(--base-color);
        &:active {
          background: var(--accent-color);
          border-color: var(--accent-color);
        }
        @media (hover: hover) {
          &:focus {
            background: var(--focus-color);
            border-color: var(--focus-color);
          }
          &:hover {
            background: var(--accent-color);
            border-color: var(--accent-color);
          }
          &:active {
            background: var(--base-color);
            border-color: var(--base-color);
          }
        }
      }
    }
  }
  &.outline {
    background-color: transparent;
    box-shadow: 0 0 4px #0004;
    @each $color, $value in $base-colors {
      &.#{$color} {
        color: var(--base-color);
        border-color: var(--base-color);
        &:active {
          border-color: var(--accent-color);
          color: var(--accent-color);
        }
        @media (hover: hover) {
          &:focus {
            border-color: var(--focus-color);
            color: var(--focus-color);
          }
          &:hover {
            border-color: var(--accent-color);
            color: var(--accent-color);
          }
          &:active {
            border-color: var(--base-color);
            color: var(--base-color);
          }
        }
      }
    }
  }
  &.text {
    background-color: transparent;
    @extend %#{$prefix}animate-underline;
    @each $color, $value in $base-colors {
      &.#{$color} {
        color: var(--base-color);
        &:active {
          color: var(--accent-color);
        }
        @media (hover: hover) {
          &:focus {
            color: var(--focus-color);
          }
          &:hover {
            color: var(--accent-color);
          }
          &:active {
            color: var(--base-color);
          }
        }
      }
    }
  }

  &[disabled] {
    opacity: 0.66 !important;
    cursor: default !important;
    pointer-events: none !important;
  }
}
