@mixin card-sizes {
  --card-padding: 16px;
  &.tiny {
    --card-padding: 8px;
  }
  &.small {
    --card-padding: 12px;
  }
  &.medium {
    --card-padding: 16px;
  }
  &.large {
    --card-padding: 32px;
  }
}

.#{$prefix}card {
  @include card-sizes;
  padding: var(--card-padding);
  border: 1px solid var(--snt-color-muted);
  border-radius: var(--snt-border-radius-s);
  @each $color, $value in $palette-colors {
    &.#{$color} {
      background: linear-gradient(
        150deg,
        var(--#{$prefix}color-#{$color}-lightest-2) 0%,
        var(--#{$prefix}color-#{$color}-lightest) 100%
      );
      border-color: var(--#{$prefix}color-#{$color}-lighter);
    }
  }

  &.clickable {
    outline: none;
    --card--box-shadow: var(--snt-box-shadow-s);
    box-shadow: var(--card--box-shadow);
    transition: box-shadow 0.3s ease;
    &:not([disabled]) {
      cursor: pointer;
      &:focus,
      &:focus-within,
      &:hover {
        --card--box-shadow: var(--snt-box-shadow-l);
      }
      &:active {
        --card--box-shadow: var(--snt-box-shadow-s);
      }
    }
  }
}
