.#{$prefix}card {
  --shadow: var(--#{$prefix}shadow-m);
  --shadow-active: var(--#{$prefix}shadow-s);
  padding: 16px;
  border: 0.5px solid;
  border-radius: 2px;
  box-shadow: var(--shadow);
  @each $color, $value in $palette-colors {
    &.#{$color} {
      background: linear-gradient(
        150deg,
        var(--#{$prefix}color-#{$color}-lightest-2) 0%,
        var(--#{$prefix}color-#{$color}-lightest) 100%
      );
      border-color: var(--#{$prefix}color-#{$color}-lighter);
    }
  }

  &.clickable {
    transition: box-shadow 0.2s ease;
    &:not([disabled]) {
      cursor: pointer;
    }
    &:focus,
    &:hover {
      box-shadow: var(--shadow-active);
    }
  }
}
