@mixin container-base {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@mixin container-sizes {
  --container-padding: 16px;
  &.tiny {
    --container-padding: 4px;
  }
  &.small {
    --container-padding: 8px;
  }
  &.medium {
    --container-padding: 16px;
  }
  &.large {
    --container-padding: 36px;
  }
}

@mixin flexbox-sizes {
  --flex-gap: 16px;
  &.tiny {
    --flex-gap: 4px;
  }
  &.small {
    --flex-gap: 8px;
  }
  &.medium {
    --flex-gap: 16px;
  }
  &.large {
    --flex-gap: 36px;
  }
}
@mixin grid-sizes {
  --grid-gap: 16px;
  &.tiny {
    --grid-gap: 4px;
  }
  &.small {
    --grid-gap: 8px;
  }
  &.medium {
    --grid-gap: 16px;
  }
  &.large {
    --grid-gap: 36px;
  }
}

.#{$prefix}container {
  @include container-sizes;
  padding: var(--container-padding);
}
@each $container, $size in $containers {
  .#{$prefix}container-#{$container} {
    @include container-base;
    max-width: $size;
  }
}

.#{$prefix}grid {
  @include grid-sizes;
  --gtc: initial;
  --gtr: initial;
  --gta: initial;
  display: grid;
  align-content: flex-start;
  grid-template-columns: var(--gtc);
  grid-template-rows: var(--gtr);
  grid-template-areas: var(--gta);
  gap: var(--grid-gap);
  &.center {
    align-content: center;
    justify-content: center;
  }
}

.#{$prefix}grid-fill {
  --width: 200px;
  @include flexbox-sizes;
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
  gap: var(--flex-gap);
}
.#{$prefix}flex {
  @include flexbox-sizes;
  display: flex;
  align-items: center;
  & > * + * {
    margin-left: var(--flex-gap);
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.equal {
    & > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}
.#{$prefix}flex-column {
  @include flexbox-sizes;
  display: flex;
  flex-direction: column;
  & > * + * {
    margin-top: var(--flex-gap);
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.equal {
    & > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}
.#{$prefix}flex-wrap {
  @include flexbox-sizes;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--flex-gap));
  margin-bottom: calc(-1 * var(--flex-gap));
  & > * {
    margin-left: var(--flex-gap);
    margin-bottom: var(--flex-gap);
  }
}
