%#{$prefix}container-base {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.#{$prefix}container {
  padding: 16px;
}
@each $container, $size in $containers {
  .#{$prefix}container-#{$container} {
    @extend %#{$prefix}container-base;
    max-width: $size;
  }
}

%#{$prefix}flexbox-gap-sizes {
  --gap: 12px;
  &.small {
    --gap: 8px;
  }
  &.large {
    --gap: 32px;
  }
}

.#{$prefix}grid {
  @extend %#{$prefix}flexbox-gap-sizes;
  display: grid;
  align-content: flex-start;
  gap: var(--gap);
  &.center {
    align-content: center;
    justify-content: center;
  }
}

.#{$prefix}grid-fill {
  --width: 200px;
  @extend %#{$prefix}flexbox-gap-sizes;
  display: grid;
  align-content: flex-start;
  grid-template-columns: repeat(auto-fill, minmax(var(--width), 1fr));
  gap: var(--gap);
}
.#{$prefix}flex {
  @extend %#{$prefix}flexbox-gap-sizes;
  display: flex;
  align-items: center;
  & > * + * {
    margin-left: var(--gap);
  }
  &.center {
    align-items: center;
    justify-content: center;
  }
  &.equals {
    & > * {
      flex-basis: 0;
      flex-grow: 1;
    }
  }
}
.#{$prefix}flex-wrap {
  @extend %#{$prefix}flexbox-gap-sizes;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-bottom: calc(-1 * var(--gap));
  & > * {
    margin-left: var(--gap);
    margin-bottom: var(--gap);
  }
}
