.#{$prefix}input-root {
  // display: inline-block;
  display: block;
}
.#{$prefix}input {
  --input-height: 34px;
  --input-width: 100%;
  --input-min-width: 100px;
  --input-font-size: 16px;
  --input-line-height: 1.5;
  --input-text-color: var(--#{$prefix}color-text);
  --input-placeholder-color: var(--#{$prefix}color-grey);
  --input-background-color: var(--#{$prefix}color-light);
  --input-disabled-background: var(--#{$prefix}color-muted-lighter-2);
  --input-disabled-color: var(--#{$prefix}color-muted-darker-2);
  --input-border-color: var(--#{$prefix}color-light-dark-2);
  --input-padding-x: 8px;
  --input-padding-y: calc(
    (var(--input-height) - var(--input-font-size) * var(--input-line-height)) /
      2
  );

  color: var(--input-text-color);
  &::placeholder {
    color: var(--input-placeholder-color);
  }
}
%#{$prefix}input--width {
  min-width: var(--input-min-width);
  width: var(--input-width);
}
%#{$prefix}input--height {
  height: var(--input-height);
}
%#{$prefix}input--field {
  line-height: var(--input-line-height);
  padding: var(--input-padding-y) var(--input-padding-x);
  border-width: 1px;
  border-style: solid;
  border-radius: 2px;
  border-color: var(--input-border-color);
  background-color: var(--input-background-color);
  &[readonly],
  &[disabled] {
    background-color: var(--input-disabled-background);
    color: var(--input-disabled-color);
  }
}

.#{$prefix}input-text,
.#{$prefix}input-select,
.#{$prefix}input-email,
.#{$prefix}input-password,
.#{$prefix}input-search,
.#{$prefix}input-tel,
.#{$prefix}input-url,
.#{$prefix}input-color,
.#{$prefix}input-file,
.#{$prefix}input-number,
.#{$prefix}input-textarea,
.#{$prefix}input-datetime-local,
.#{$prefix}input-date,
.#{$prefix}input-time,
.#{$prefix}input-month {
  @extend %#{$prefix}input--width,
    %#{$prefix}input--height,
    %#{$prefix}input--field;
}
.#{$prefix}input-range {
  @extend %#{$prefix}input--width;
  @extend %#{$prefix}input-range;
}
.#{$prefix}input-radio {
  @extend %#{$prefix}input-radio;
}
.#{$prefix}input-checkbox {
  @extend %#{$prefix}input-checkbox;
}

.#{$prefix}input-search::-webkit-search-cancel-button {
  appearance: none;
}
.#{$prefix}input-number {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

// Specific state styles
.#{$prefix}input {
  &[data-error-border="true"] {
    border-color: var(--#{$prefix}color-danger);
  }
  &[data-placeholder-color="true"] {
    color: var(--input-placeholder-color);
  }
  &[data-dropdown-picker="true"] {
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    --select-icon-size: calc(var(--input-font-size) / 1.5);
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='grey'><polygon points='0,0 100,0 50,50'/></svg>")
      no-repeat;
    background-size: var(--select-icon-size);
    background-position: calc(100% - var(--input-padding-x))
      calc(50% + var(--select-icon-size) / 3);
    background-repeat: no-repeat;
    background-color: var(--input-background-color);
  }
  &[data-dropzone-active="true"] {
    border-style: dashed;
    border-color: var(--#{$prefix}color-success);
  }
  &[data-no-pointer-events="true"] {
    pointer-events: none;
  }
}

// Alt input styles
.#{$prefix}alt-input {
  width: 0px;
  height: 0px;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

// Input label styles
.#{$prefix}input-label {
  display: inline-block;
  --label-margin: 0.25rem;

  // input label required styles
  &[data-label-asterisk="true"]::after {
    content: "*";
    color: var(--#{$prefix}color-danger);
  }
  // input label placement
  &[data-label-position="left"],
  &[data-label-position="right"] {
    display: inline;
  }
  &[data-label-position="left"] {
    margin-right: var(--label-margin);
  }
  &[data-label-position="right"] {
    margin-left: var(--label-margin);
  }
  &[data-label-position="top"] {
    margin-bottom: var(--label-margin);
  }
  &[data-label-position="bottom"] {
    margin-top: var(--label-margin);
  }
}

// Input info styles
.#{$prefix}input-info {
  --info-line-height: 1.25;
  --info-font-size: 12px;
  --info-max-height: calc(var(--info-line-height) * var(--info-font-size));
  &-hint,
  &-error {
    line-height: var(--info-line-height);
    font-size: var(--info-font-size);
    margin-left: 4px;
  }
  &-hint {
    color: var(--#{$prefix}color-grey);
  }
  &-error {
    color: var(--#{$prefix}color-danger);
  }
  &-spacing {
    height: 3px;
  }
  &-spacing-transition {
    @include transition(all 0.3s ease) {
      height: 0px;
    }
  }
  &-error-transition {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s var(--#{$prefix}bezier-1);
    }
    &-enter-from,
    &-leave-to {
      transform: translateY(-3px);
      opacity: 0;
      max-height: 0px;
    }
    &-leave-from,
    &-enter-to {
      max-height: var(--info-max-height);
    }
  }
}

// Date input focus styles
.flatpickr-input.active {
  @extend %focus-styles;
}
