// Input css vars:
// --input-height
// --input-width
// --input-min-width
// --input-font-size
// --input-line-height
// --input-text-color
// --input-placeholder-color
// --input-background-color
// --input-border-color
// --input-padding-x
// --input-padding-y

// Baseline/reset
%#{$prefix}input-range {
  appearance: none;
  background: transparent;
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
  &:focus {
    outline: none;
  }

  --range-track-background: #ddd;
  --range-track-focus-background: #ccc;
  --range-track-height: 4px;

  --range-thumb-background: var(--#{$prefix}color-primary);
  --range-thumb-focus-background: var(--#{$prefix}color-primary-darker);
  --range-thumb-focus-shadow: 0 0 3px 1px var(--#{$prefix}color-primary-lighter);
  --range-thumb-size: 10px;
}
@mixin input-range-track {
  background: var(--range-track-background);
  border-radius: calc(var(--range-track-height) / 2);
  height: var(--range-track-height);
}
@mixin input-range-track-focus {
  transition: background 0.2s ease;
  background: var(--range-track-focus-background);
}
@mixin input-range-track-focus-revert {
  background: var(--range-track-background);
}
@mixin input-range-thumb {
  transition: box-shadow 0.2s ease;
  background: var(--range-thumb-background);
  border-radius: 50%;
  height: var(--range-thumb-size);
  width: var(--range-thumb-size);
}
@mixin input-range-thumb-focus {
  background: var(--range-thumb-focus-background);
  box-shadow: var(--range-thumb-focus-shadow);
}
@mixin input-range-thumb-focus-revert {
  background: var(--range-thumb-background);
}

%#{$prefix}input-range {
  &::-webkit-slider-runnable-track {
    @include input-range-track;
  }
  &::-moz-range-track {
    @include input-range-track;
  }
  &::-webkit-slider-thumb {
    appearance: none;
    margin-top: calc(
      var(--range-track-height) / 2 - var(--range-thumb-size) / 2
    );
    @include input-range-thumb;
  }
  &::-moz-range-thumb {
    border: none;
    @include input-range-thumb;
  }

  &:focus,
  &:focus-visible {
    &::-webkit-slider-runnable-track {
      @include input-range-track-focus;
    }
    &::-moz-range-track {
      @include input-range-track-focus;
    }
    &::-webkit-slider-thumb {
      @include input-range-thumb-focus;
    }
    &::-moz-range-thumb {
      @include input-range-thumb-focus;
    }
  }
  &:focus:not(:focus-visible) {
    &::-webkit-slider-runnable-track {
      @include input-range-track-focus-revert;
    }
    &::-moz-range-track {
      @include input-range-track-focus-revert;
    }
    &::-webkit-slider-thumb {
      @include input-range-thumb-focus-revert;
    }
    &::-moz-range-thumb {
      @include input-range-thumb-focus-revert;
    }
  }
}
