.#{$prefix}input-root {
  display: inline-block;
}
.#{$prefix}input {
  --font-size: 16px;
  --text-color: var(--#{$prefix}color-text);
  --placeholder-color: #999;
  &::placeholder {
    color: var(--placeholder-color);
  }
}
%#{$prefix}input-width {
  --min-width: 100px;
  --width: 100%;
  min-width: var(--min-width);
  width: var(--width);
}
%#{$prefix}input-height {
  --height: 36px;
  height: var(--height);
}
%#{$prefix}input-input-field {
  --background: #f8f8f8;
  --padding-x: 8px;
  --padding-y: calc(
    (var(--height) - var(--font-size) * var(--line-height)) / 2
  );
  --line-height: 1.5;
  line-height: var(--line-height);
  padding: var(--padding-y) var(--padding-x);
  border-width: 1px;
  border-style: solid;
  border-color: var(--#{$prefix}color-light-darker);
  // border-radius: 9px;
  // box-shadow: 0 0 5px #0005;
  background-color: var(--background);
}

.#{$prefix}input-text,
.#{$prefix}input-select,
.#{$prefix}input-email,
.#{$prefix}input-password,
.#{$prefix}input-search,
.#{$prefix}input-tel,
.#{$prefix}input-url,
.#{$prefix}input-color,
.#{$prefix}input-file,
.#{$prefix}input-number,
.#{$prefix}input-textarea,
.#{$prefix}input-datetime-local,
.#{$prefix}input-date,
.#{$prefix}input-time,
.#{$prefix}input-month {
  @extend %#{$prefix}input-width,
    %#{$prefix}input-height,
    %#{$prefix}input-input-field;
}
.#{$prefix}input-range {
  @extend %#{$prefix}input-width;
}
// .#{$prefix}input-checkbox {}
// .#{$prefix}input-radio {}
.#{$prefix}input-search::-webkit-search-cancel-button {
  appearance: none;
}
.#{$prefix}input-number {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
}

.#{$prefix}input {
  &[data-error-border-active="true"] {
    border-color: var(--#{$prefix}color-danger);
  }
  &[data-placeholder-color-active="true"] {
    color: var(--placeholder-color);
  }
  &[data-dropdown-picker-active="true"] {
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    --select-icon-size: calc(var(--font-size) / 1.5);
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='grey'><polygon points='0,0 100,0 50,50'/></svg>")
      no-repeat;
    background-size: var(--select-icon-size);
    background-position: calc(100% - var(--padding-x))
      calc(50% + var(--select-icon-size) / 3);
    background-repeat: no-repeat;
    background-color: var(--background);
  }
  &[data-dragover-active="true"] {
    border-style: dashed;
    border-color: var(--#{$prefix}color-success);
  }
  &[data-pointer-events-disabled="true"] {
    pointer-events: none;
  }
}

// Shadow component styles
.#{$prefix}alt-input-overlay {
  opacity: 0 !important;
  position: absolute;
  top: calc(0 - var(--padding-y));
  left: 0;
  @extend %#{$prefix}input-height;
  width: 100%;
  // height: 100%;
  cursor: pointer;
  &::-webkit-calendar-picker-indicator {
    // background: transparent;
    // color: transparent;
    position: absolute;
    width: auto;
    height: auto;
    cursor: pointer;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
}
.#{$prefix}alt-input-hidden {
  width: 0px;
  height: 0px;
  position: absolute;
  visibility: hidden;
  pointer-events: none;
}

// Input label styles
.#{$prefix}input-label {
  --margin: 0.25rem;

  // input label required styles
  &[data-label-asterisk="true"]::after {
    content: "*";
    color: var(--#{$prefix}color-danger);
  }

  // input label placement
  &[data-label-position="top"] {
    margin-bottom: var(--margin);
  }
  &[data-label-position="bottom"] {
    margin-top: var(--margin);
  }

  &[data-label-position="left"],
  &[data-label-position="right"] {
    display: inline;
  }
  &[data-label-position="left"] {
    margin-right: var(--margin);
  }
  &[data-label-position="right"] {
    margin-left: var(--margin);
  }
}

// Input info styles
.#{$prefix}input-info {
  --line-height: 1.25;
  --font-size: 12px;
  --max-height: calc(var(--line-height) * var(--font-size));
  &-hint,
  &-error {
    line-height: var(--line-height);
    font-size: var(--font-size);
    margin-left: 4px;
  }
  &-hint {
    color: var(--#{$prefix}color-grey);
  }
  &-error {
    color: var(--#{$prefix}color-danger);
  }

  &-spacing {
    height: 3px;
  }
  &-spacing-transition {
    @include transition(all 0.3s ease) {
      height: 0px;
    }
  }

  &-error-transition {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s var(--#{$prefix}bezier-1);
    }
    &-enter-from,
    &-leave-to {
      transform: translateY(-3px);
      opacity: 0;
      max-height: 0px;
    }
    &-leave-from,
    &-enter-to {
      max-height: var(--max-height);
    }
  }
}

.flatpickr-input.active {
  @extend %focus-styles;
}
