// base input styles
.#{$prefix}input {
  --height: 36px;
  --min-width: 100px;
  --width: 100%;
  --background: #f8f8f8;
  --font-size: 16px;
  --line-height: 1.5;
  --padding-x: 8px;
  --padding-y: calc(
    (var(--height) - var(--font-size) * var(--line-height)) / 2
  );
  --text-color: var(--#{$prefix}app-color);
  --placeholder-color: #999;
}

.#{$prefix}input {
  color: var(--text-color);
  &::placeholder,
  &[data-type="select"][data-has-value="false"][data-has-placeholder="true"] {
    color: var(--placeholder-color);
  }
  &:not([data-type="checkbox"]):not([data-type="radio"]):not([data-type="range"]) {
    min-height: var(--height);
    height: var(--height);
    min-width: var(--min-width);
    width: var(--width);
    background-color: var(--background);
    padding: var(--padding-y) var(--padding-x);
    line-height: var(--line-height);
  }
  &[data-type="select"],
  &[data-datalist="true"] {
    &::-webkit-calendar-picker-indicator {
      opacity: 0;
    }
    --select-icon-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='grey'><polygon points='0,0 100,0 50,50'/></svg>")
      no-repeat;
    background-size: var(--select-icon-size);
    background-position: calc(100% - var(--padding-x))
      calc(50% + var(--select-icon-size) / 3);
    background-repeat: no-repeat;
    background-color: var(--background);
  }
  &[data-type="range"] {
    min-width: var(--min-width);
    width: var(--width);
  }
  border-width: 1px;
  border-style: solid;
  border-color: var(--#{$prefix}color-light-darker);
}

// input label styles
.#{$prefix}input-label {
  --margin: 0.25rem;

  // input label required styles
  &[data-required-asterisk="true"]::after {
    content: "*";
    color: var(--#{$prefix}color-danger);
  }

  // input label placement
  &[data-label-placement~="block"] {
    display: block;
    &[data-label-placement~="start"] {
      margin-block-end: var(--margin);
    }
    &[data-label-placement~="end"] {
      margin-block-start: var(--margin);
    }
  }
  &[data-label-placement~="inline"] {
    &[data-label-placement~="start"] {
      margin-inline-end: var(--margin);
    }
    &[data-label-placement~="end"] {
      margin-inline-start: var(--margin);
    }
  }
}

// input hint and error styles
.#{$prefix}input-help {
  --line-height: 1.25;
  --font-size: 13px;
  --max-height: calc(var(--line-height) * var(--font-size));
  line-height: var(--line-height);
  font-size: var(--font-size);

  // input hint styles
  &[data-hint] {
    color: var(--#{$prefix}color-grey);
  }

  // input error styles
  &[data-error] {
    color: var(--#{$prefix}color-danger);
  }

  // input error transition
  &-transition {
    &-enter-active,
    &-leave-active {
      transition: all 0.3s var(--#{$prefix}bezier-1);
    }
    &-enter-from,
    &-leave-to {
      transform: translateY(-3px);
      opacity: 0;
      max-height: 0px;
    }
    &-leave-from,
    &-enter-to {
      max-height: var(--max-height);
    }
  }

  // input help spacing between form
  &-spacing {
    transition: height 0.2s ease;
    height: 0px;
    &[data-show="true"] {
      height: 3px;
    }
  }
}

// input error borders
.#{$prefix}input[data-error-border="true"][data-valid="false"] {
  border-color: var(--#{$prefix}color-danger);
}
