.#{$prefix}link {
  border-radius: 1px;
  border: 1.5px solid transparent;
  cursor: pointer;
  opacity: 1;
  outline-color: transparent !important;
  transition-duration: 0.15s;
  transition-property: color, background-color, border-color, box-shadow,
    opacity;
  transition-timing-function: ease-in-out;

  @each $color, $value in $base-colors {
    &.#{$color} {
      --base-color: var(--#{$prefix}color-#{$color});
      --accent-color: var(--#{$prefix}color-#{$color}-dark);
      --focus-color: var(--#{$prefix}color-#{$color}-darker);
      --contrast-color: var(--#{$prefix}color-#{$color}-contrast);
    }
  }

  background-color: transparent;
  @extend %#{$prefix}animate-underline;
  @each $color, $value in $base-colors {
    &.#{$color} {
      color: var(--base-color);
      &:active {
        color: var(--accent-color);
      }
      @media (hover: hover) {
        &:focus,
        &:focus-visible {
          color: var(--focus-color);
        }
        &:focus:not(:focus-visible) {
          color: var(--base-color);
        }
        &:active:nth-child(n) {
          color: var(--base-color);
        }
      }
    }
  }

  &[disabled] {
    opacity: 0.66 !important;
    cursor: default !important;
    pointer-events: none !important;
  }
}
