// TODO - loaders?
.loading-spinner {
  &::after {
    content: "";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-spinner-keyframes 1.2s linear infinite;
  }
}
@keyframes loading-spinner-keyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner-2 {
  --color: var(--#{$prefix}color-primary);
  display: inline-block;
  width: 80px;
  height: 80px;
}
.loading-spinner-2:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color);
  border-color: var(--color) transparent var(--color) transparent;
  animation: loading-spinner-2-keyframes 1.2s linear infinite;
}
@keyframes loading-spinner-2-keyframes {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
