@mixin generate-table-colors($color) {
  --table-background: var(--#{$prefix}color-#{$color}-lighter-2);
  --table-border-color: var(--#{$prefix}color-#{$color}-lighter-2);
  --table-header-background: var(--#{$prefix}color-#{$color}-lighter-2);
  --table-header-color: var(--#{$prefix}color-#{$color}-lighter-contrast);
  --table-cell-background-alt: var(--#{$prefix}color-#{$color}-lightest);
  --table-cell-background: var(--#{$prefix}color-#{$color}-lightest-2);
  --table-cell-color: var(--#{$prefix}color-#{$color}-darkest);
}

.#{$prefix}table {
  --table-icon-size: 24px;
  --table-icon-gap: 5px;
  --table-header-padding-y: 8px;
  --table-header-padding-x: 8px;
  --table-cell-padding-y: 6px;
  --table-cell-padding-x: 8px;
  --table-cell-spacing: 1px;
  --table-font-size: 16px;

  @include generate-table-colors("light");
  @each $color, $value in $base-colors {
    &.#{$color} {
      @include generate-table-colors($color);
    }
  }

  font-size: var(--table-font-size);
  background: var(--table-background);
  position: relative;
  width: 100%;

  border: 1px solid var(--table-border-color);
  border-radius: 2px;
  border-spacing: var(--table-cell-spacing);

  & th {
    background: var(--table-header-background);
    color: var(--table-header-color);
    padding: var(--table-header-padding-y) var(--table-header-padding-x);
    text-align: left;
    user-select: none;
  }
  & td {
    color: var(--table-cell-color);
    padding: var(--table-cell-padding-y) var(--table-cell-padding-x);
    text-align: left;
  }

  & > tr:nth-child(2n-1) > td,
  & > tbody > tr:nth-child(2n-1) > td {
    background: var(--table-cell-background);
  }
  & > tr:nth-child(2n) > td,
  & > tbody > tr:nth-child(2n) > td {
    background: var(--table-cell-background-alt);
  }

  &-icon {
    min-width: var(--table-icon-size);
    min-height: var(--table-icon-size);
    max-width: var(--table-icon-size);
    max-height: var(--table-icon-size);
  }
}

// sticky header styles
.#{$prefix}table tr > th {
  position: sticky;
}
.#{$prefix}table thead > tr > th,
.#{$prefix}table > tr:not(:last-child) > th {
  top: 0px;
}
.#{$prefix}table tfoot > tr > th,
.#{$prefix}table > tr:last-child > th {
  bottom: 0px;
}

// .table-transition-move,
.table-transition-enter-active,
.table-transition-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}

.table-transition-enter-from,
.table-transition-leave-to {
  opacity: 0;
  transform: scaleY(0.01) translate(30px, 0);
}

.table-transition-leave-active {
  position: absolute;
}
