// toast container
.#{$prefix}toast-wrapper {
  position: fixed;
  display: flex;
  width: 250px;
  max-width: calc(100% - 16px);
  z-index: var(--#{$prefix}z-index-toast);

  &[data-position~="top"] {
    top: 1rem;
    flex-direction: column;
  }
  &[data-position~="bottom"] {
    bottom: 1rem;
    flex-direction: column-reverse;
  }
  &[data-position~="left"] {
    left: 16px;
  }
  &[data-position~="center"] {
    left: 50%;
    transform: translateX(-50%);
  }
  &[data-position~="right"] {
    right: 16px;
  }
}
// toast item
.#{$prefix}toast {
  padding: 1rem 0.5rem;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  border-style: solid;
  margin: 0.5rem 0;
  overflow-wrap: break-word;
  box-shadow: 0 0 3px #0003;

  // toast close icon
  &[data-closable="true"] {
    padding: 1rem 1.6rem;
    pointer-events: none;
    &::after {
      position: absolute;
      right: 4px;
      padding: 0 4px;
      pointer-events: all;
      cursor: pointer;
      content: "\2716";
    }
  }

  // toast variants
  &[data-type="success"] {
    background: var(--#{$prefix}color-success-lightest);
    border-color: var(--#{$prefix}color-success);
    color: var(--#{$prefix}color-success-lightest-contrast);
  }
  &[data-type="danger"] {
    background: var(--#{$prefix}color-danger-lightest);
    border-color: var(--#{$prefix}color-danger);
    color: var(--#{$prefix}color-danger-lightest-contrast);
  }
  &[data-type="info"] {
    background: var(--#{$prefix}color-info-lightest);
    border-color: var(--#{$prefix}color-info);
    color: var(--#{$prefix}color-info-lightest-contrast);
  }
}

// toast transition
.#{$prefix}toast-transition-top,
.#{$prefix}toast-transition-bottom {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all 0.5s cubic-bezier(0.72, 0.16, 0.28, 0.93);
  }
  &-leave-active {
    position: absolute;
  }
}
.#{$prefix}toast-transition-top {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.#{$prefix}toast-transition-bottom {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(20px);
  }
}
