// toast container
.#{$prefix}toast-wrapper {
  position: fixed;
  display: flex;
  width: 250px;
  max-width: calc(100% - 16px);
  z-index: var(--#{$prefix}z-index-toast);

  &[data-position~="top"] {
    top: 1rem;
    flex-direction: column;
  }
  &[data-position~="bottom"] {
    bottom: 1rem;
    flex-direction: column-reverse;
  }
  &[data-position~="left"] {
    left: 16px;
  }
  &[data-position~="center"] {
    left: 50%;
    transform: translateX(-50%);
  }
  &[data-position~="right"] {
    right: 16px;
  }
}
// toast item
.#{$prefix}toast {
  padding: 1rem 0.5rem;
  width: 100%;
  text-align: center;
  border-left-width: 4px;
  border-left-style: solid;
  border-radius: 2px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-color: var(--#{$prefix}toast-border-color);
  background-color: var(--#{$prefix}toast-background);
  color: var(--#{$prefix}toast-color);
  margin: 0.5rem 0;
  overflow-wrap: break-word;
  box-shadow: 0 0 3px #0003;

  &-closable {
    padding: 1rem 1.6rem;
    pointer-events: none;
    &::after {
      color: var(--#{$prefix}toast-close-color);
      font-weight: 800;
      font-size: 16px;
      position: absolute;
      right: 4px;
      padding: 0 5px;
      pointer-events: all;
      cursor: pointer;
      content: "\2715";
    }
  }

  &-type-success {
    --#{$prefix}toast-close-color: var(--#{$prefix}color-success-dark);
    --#{$prefix}toast-background: var(--#{$prefix}color-success-soft);
    --#{$prefix}toast-border-color: var(--#{$prefix}color-success);
    --#{$prefix}toast-color: var(--#{$prefix}color-success-soft-contrast);
  }
  &-type-danger {
    --#{$prefix}toast-close-color: var(--#{$prefix}color-danger-dark);
    --#{$prefix}toast-background: var(--#{$prefix}color-danger-soft);
    --#{$prefix}toast-border-color: var(--#{$prefix}color-danger);
    --#{$prefix}toast-color: var(--#{$prefix}color-danger-soft-contrast);
  }
  &-type-warning {
    --#{$prefix}toast-close-color: var(--#{$prefix}color-warning-dark);
    --#{$prefix}toast-background: var(--#{$prefix}color-warning-soft);
    --#{$prefix}toast-border-color: var(--#{$prefix}color-warning);
    --#{$prefix}toast-color: var(--#{$prefix}color-warning-soft-contrast);
  }
  &-type-info {
    --#{$prefix}toast-close-color: var(--#{$prefix}color-info-dark);
    --#{$prefix}toast-background: var(--#{$prefix}color-info-soft);
    --#{$prefix}toast-border-color: var(--#{$prefix}color-info);
    --#{$prefix}toast-color: var(--#{$prefix}color-info-soft-contrast);
  }
  &-type-notification {
    --#{$prefix}toast-close-color: var(--#{$prefix}color-dark-lightest);
    --#{$prefix}toast-background: var(--#{$prefix}color-dark);
    --#{$prefix}toast-border-color: var(--#{$prefix}color-dark-lighter-2);
    --#{$prefix}toast-color: var(--#{$prefix}color-dark-contrast);
  }
}

// toast transition
.#{$prefix}toast-transition-top,
.#{$prefix}toast-transition-bottom {
  &-move,
  &-enter-active,
  &-leave-active {
    transition: all 0.5s cubic-bezier(0.72, 0.16, 0.28, 0.93);
  }
  &-leave-active {
    position: absolute;
  }
}
.#{$prefix}toast-transition-top {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.#{$prefix}toast-transition-bottom {
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(20px);
  }
}
