:root {
  --font-base-size: calc(16px * var(--font-global-scale));
  --font-scale-factor: 1.25;
  --font-global-scale: 0.8;
  @include m {
    --font-global-scale: 1;
  }

  --fs-6: calc(var(--fs-5) * var(--font-scale-factor));
  --fs-5: calc(var(--fs-4) * var(--font-scale-factor));
  --fs-4: calc(var(--fs-3) * var(--font-scale-factor));
  --fs-3: calc(var(--fs-2) * var(--font-scale-factor));
  --fs-2: calc(var(--fs-1) * var(--font-scale-factor));
  --fs-1: var(--font-base-size);

  --fs--1: calc(var(--font-base-size) / var(--font-scale-factor));
  --fs--2: calc(var(--fs--1) / var(--font-scale-factor));
  --fs--3: calc(var(--fs--2) / var(--font-scale-factor));
}

// font sizes
.fs-6 {
  font-size: var(--fs-6);
}
.fs-5 {
  font-size: var(--fs-5);
}
.fs-4 {
  font-size: var(--fs-4);
}
.fs-3 {
  font-size: var(--fs-3);
}
.fs-2 {
  font-size: var(--fs-2);
}
.fs-1 {
  font-size: var(--fs-1);
}
.fs--1 {
  font-size: var(--fs--1);
}
.fs--2 {
  font-size: var(--fs--2);
}
.fs--3 {
  font-size: var(--fs--3);
}
