:root {
  --#{$prefix}font-base-size: calc(16px * var(--#{$prefix}font-global-scale));
  --#{$prefix}font-scale-factor: 1.25;
  --#{$prefix}font-global-scale: 0.8;
  @include m {
    --#{$prefix}font-global-scale: 1;
  }

  --#{$prefix}fs-6: calc(
    var(--#{$prefix}fs-5) * var(--#{$prefix}font-scale-factor)
  );
  --#{$prefix}fs-5: calc(
    var(--#{$prefix}fs-4) * var(--#{$prefix}font-scale-factor)
  );
  --#{$prefix}fs-4: calc(
    var(--#{$prefix}fs-3) * var(--#{$prefix}font-scale-factor)
  );
  --#{$prefix}fs-3: calc(
    var(--#{$prefix}fs-2) * var(--#{$prefix}font-scale-factor)
  );
  --#{$prefix}fs-2: calc(
    var(--#{$prefix}fs-1) * var(--#{$prefix}font-scale-factor)
  );
  --#{$prefix}fs-1: var(--#{$prefix}font-base-size);

  --#{$prefix}fs--1: calc(
    var(--#{$prefix}font-base-size) / var(--#{$prefix}font-scale-factor)
  );
  --#{$prefix}fs--2: calc(
    var(--#{$prefix}fs--1) / var(--#{$prefix}font-scale-factor)
  );
  --#{$prefix}fs--3: calc(
    var(--#{$prefix}fs--2) / var(--#{$prefix}font-scale-factor)
  );
}

// font faces

@font-face {
  font-family: SpaceMono;
  src: url("~@/assets/fonts/SpaceMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.#{$prefix}font-mono {
  font-family: SpaceMono;
}

// font sizes
.#{$prefix}fs-6 {
  font-size: var(--#{$prefix}fs-6);
}
.#{$prefix}fs-5 {
  font-size: var(--#{$prefix}fs-5);
}
.#{$prefix}fs-4 {
  font-size: var(--#{$prefix}fs-4);
}
.#{$prefix}fs-3 {
  font-size: var(--#{$prefix}fs-3);
}
.#{$prefix}fs-2 {
  font-size: var(--#{$prefix}fs-2);
}
.#{$prefix}fs-1 {
  font-size: var(--#{$prefix}fs-1);
}
.#{$prefix}fs--1 {
  font-size: var(--#{$prefix}fs--1);
}
.#{$prefix}fs--2 {
  font-size: var(--#{$prefix}fs--2);
}
.#{$prefix}fs--3 {
  font-size: var(--#{$prefix}fs--3);
}
