// display
.hidden {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}
.overflow-x {
  overflow-x: auto;
}
.overflow-y {
  overflow-y: auto;
}

// position
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.pointer {
  cursor: pointer;
}
.m-auto {
  margin: auto;
}
.ml-auto {
  margin-left: auto;
}
.mt-auto {
  margin-top: auto;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

// containers
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
}
.align-items {
  align-items: center;
}
.align-content {
  align-content: center;
}
.align-self {
  align-self: center;
}
.justify-items {
  justify-items: center;
}
.justify-content {
  justify-content: center;
}
.justify-self {
  justify-self: center;
}

// border radius
@each $name, $size in $border-radius {
  .border-radius-#{$name} {
    border-radius: $size;
  }
}

// sizes
@each $width, $size in $widths {
  .width-#{$width} {
    width: $size;
  }
}
.width-expand {
  width: 100%;
}
.width-viewport {
  width: 100vw;
}
.height-expand {
  height: 100%;
}
.height-viewport {
  height: 100vh;
}

// text
@for $i from 10 to 36 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}
.italic {
  font-style: italic;
}
.bold {
  font-weight: bolder;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.underline {
  text-decoration: underline;
}
.nowrap {
  white-space: nowrap;
}

// utils
.ignore-pointer {
  pointer-events: none;
}
*[content-before]::before {
  content: attr(content-before);
}
*[content-after]::after {
  content: attr(content-after);
}
