:export {
  JSON: generate-json(
    (
      prefix: $prefix,
      baseColors: $base-colors,
      colors: $colors,
      breakpoints: $breakpoints,
      containers: $containers,
      widths: $widths,
      shadows: $shadows,
      bezier: $bezier,
      zIndex: $z-index,
    )
  );
}
