:export {
  JSON: generate-json(
    (
      breakpoints: $breakpoints,
      containers: $containers,
      widths: $widths,
      prefix: $prefix,
      colors: $colors,
      baseColors: $base-colors,
      zIndex: $z-index,
    )
  );
}
