@charset 'UTF-8';
@import "./normalize.css";
@import "./elements/_index.scss";
@import "./third-party-overrides.scss";

:root {
  --prefix: #{$prefix};
  @include generate-css-variables($project-variables);
}

.title {
  font-size: 32px;
}
.subtitle {
  font-size: 24px;
}
