@function generate-color-palette($palette, $variants) {
  $output: ();
  @each $colorName, $colorValue in $palette {
    $colorMap: (
      "base": $colorValue,
    );
    $colorMap: map-merge(
      $colorMap,
      (
        "contrast": color-contrast($colorValue),
      )
    );
    @each $variant, $map in $variants {
      $alpha: map-get($map, "alpha") or 0%;
      $colorMap: map-merge(
        $colorMap,
        (
          "#{$variant}":
            adjust-color(
              $colorValue,
              $lightness: map-get($map, "lightness") or 0%,
              $saturation: map-get($map, "saturation") or 0%,
              $alpha: map-get($map, "alpha") or 0%
            ),
        )
      );
    }
    $output: map-merge(
      $output,
      (
        "#{$colorName}": $colorMap,
      )
    );
  }
  @return $output;
}
